
<style type="text/css">
  .red::placeholder{
    color: red;

  }
  .red h2 {
     color: red;
  }
</style>

<div class="container body">
      <div class="main_container">
        
       {% include 'sidebar.html' %}

       {% include 'topbar.html' %}
        
       <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" id="search"  class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" id="search_button" type="button">Go!</button>
                          </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Collect Money </h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br />
                                              <small>Enter Details</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br/>
                                              <small>confirmation</small>
                                          </span>
                          </a>
                        </li>
                     <!--   <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br/>
                                              <small>Review</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-4" >
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 4<br />
                                              <small>Confirmation</small>
                                          </span>
                          </a>
                        </li> !-->
                      </ul>
                      <div id="step-1">
                        <form class="form-horizontal form-label-left">

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">User Name <span class="required">*</span></label>
                            <div class=" col-md-6 col-sm-6 col-xs-12" style="display: inline;" >
                              <input type="text" id="user_name" class="form-control col-md-7 col-xs-12" required="required" placeholder="" >
                              
                            </div>
                            <span id="user_message"></span>
                          </div>


                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Employee Pin <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="password"  id="employee_pin" class="form-control col-md-7 col-xs-12 " required="required" placeholder="*******">
                            </div>
                            <span id="pin_message"></span>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Store</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select class="form-control" id="store_selection" required="required">
                                <option value="0">Choose option</option>
                                <option value="0001">Country Club</option>
                                <option value="0002">Tower</option>
                                <option value="0003">Liberty</option>
                                <option value="0004">South Saunders</option>
                              </select>
                            </div>
                            <span id="store_message"></span>
                          </div>

                          <div class="form-group" style="display: none" id="terminal_div"  required="required">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Terminal</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select class="form-control" id="terminal_selection">
                                <option value="0">Choose option</option>
                                <option value="1">Terminal 1</option>
                                <option value="2">Terminal 2</option>

                                
                              </select>
                            </div>
                            <span id="terminal_message"></span>
                          </div>

                           <div class="col-md-10 col-sm-10 col-xs-12" style="text-align: center;"><h2><small>* = Required </small></h2></div>
                            
                          <div class="col-md-10 col-sm-10 col-xs-12" style="text-align: center;" id="message"><h2><small> </small></h2></div>
                            

                          
                        </form>
                      </div>
                     <div id="step-2">
                        <h2 class="StepTitle" style="text-align: center;">Review Details</h2>
                        <form class="form-horizontal form-label-left">

                          <div class="form-group">
                            <label class="control-label col-md-5 col-sm-6 col-xs-12">User Name: <span class="required">*</span></label>
                            <div class=" col-md-3 col-sm-3 col-xs-12"  >
                              <label class="form-control col-md-7 col-xs-12" id="step-2-username"></label>
                                
                            </div>
                            
                          </div>


                          

                          <div class="form-group">
                            <label class="control-label col-md-5 col-sm-6 col-xs-12" >Store:</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                              <label class="form-control col-md-7 col-xs-12" id="step-2-store"></label>
                            </div>
                            
                          </div>

                          <div class="form-group"  id="terminal_div">
                            <label class="control-label col-md-5 col-sm-6 col-xs-12" >Terminal:</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                              <label class="form-control col-md-7 col-xs-12" id="step-2-terminal"></label>
                            </div>
                            
                          </div>
                        </form>
                        

                        
                      </div>
                      
                      

                    </div>
                    <!-- End SmartWizard Content -->





                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page Conent -->
        

            {% include 'footer.html' %}

    </div>
  </div>
    

    <!-- Custom Theme Scripts -->
    
    <script src="static/build/js/custom.js"></script>
     <script type="text/javascript" src="static/js/collect_money.js"></script>
    
   
 