<div class="container body">
  <div class="main_container">

    {% include 'sidebar.html' %}
    {% include 'topbar.html' %}

    <div class="right_col" role="main">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1>Promotions</h1>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Big Bill Bonus</h2>
                
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <!-- start accordion -->
                <div class="accordion" id="big_bill_bonus_accordion" role="tablist" aria-multiselectable="true">
                </div>
                <!-- end of accordion -->
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}

  </div>
</div>

<!-- Custom Theme Scripts -->
<script src="static/js/core/sidebar.js"></script>
<script src="static/js/promotions_details.js"></script>
